@using BlazorChatApp.Components.Chat.MessagePages
@inject DialogService DialogService

<div class="message-content">
    @switch (Message.MessageType)
    {
        case MessageType.Text:
            <TextMessage Message="Message" />
            break;
            
        case MessageType.Image:
            <ImageMessage Message="Message" OnImageClick="OnImageClick" />
            break;
            
        case MessageType.Video:
            <VideoMessage Message="Message" />
            break;
            
        case MessageType.Audio:
            <AudioMessage Message="Message" />
            break;
            
        case MessageType.File:
            <FileMessage Message="Message" OnFileDownload="OnFileDownload" />
            break;
    }
</div>

@code {
    [Parameter] public ChatMessageModel Message { get; set; } = null!;
    [Parameter] public EventCallback<string> OnImageClick { get; set; }
    [Parameter] public EventCallback<(string Url, string FileName)> OnFileDownload { get; set; }
}